<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <script src="https://kit.fontawesome.com/32f374c92f.js" crossorigin="anonymous"></script>
    <title>Gustavo Sanchez - Contact</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <div class="icon"><a href="/"><i class="fas fa-terminal"></i></a></div>
                <div class="logo-text">
                    <h1 class="name">Gustavo Sanchez</h1>
                    <h2 class="title">Fullstack Developer</h2>
                </div>
            </div>
        </header>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer>
            <p class="copy">&COPY; 2021</p>
            <div class="social-networks">
                <div class="social-icon"><a href="https://linkedin.com/in/gustavosanchezgdev" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
                <div class="social-icon"><a href="https://github.com/gustavosanchezgalarza" target="_blank"><i class="fab fa-github"></i></a></div>
                <div class="social-icon"><a href="https://twitter.com/gusanchedev" target="_blank"><i class="fab fa-twitter"></i></i></a></div>
                <div class="social-icon"><a href="https://wa.me/573175182687" target="_blank"><i class="fab fa-whatsapp"></i></a></div>
            </div>
        </footer>
    </div>
</body>
</html>